<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <h5 class="section-title">Programming Languages</h5>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">C/C++</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
         <div class="item">
            <h3 class="level-title">Clojure</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Go</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Python</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="91%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
         <div class="item">
            <h3 class="level-title">Ruby</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>  
  <h5 class="section-title">Frameworks and Libraries</h5>
  <div class="skillset">
     <div class="item">
        <h3 class="level-title">Bootstrap</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
      
     <div class="item">
        <h3 class="level-title">CakePHP</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="45%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
      
    <div class="item">
        <h3 class="level-title">Django</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">React.js</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="70%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">Ruby on Rails</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
  </div>  

  <h5 class="section-title">Environments</h5>
  <div class="skillset">
    <div class="item">
        <h3 class="level-title">Android</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="60%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
      
    <div class="item">
        <h3 class="level-title">CentOS</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="70%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">Debian</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
      
    <div class="item">
        <h3 class="level-title">iOS</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">Ubuntu</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="85%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
      
    
    <div class="item">
        <h3 class="level-title">Windows</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
  </div>  

  <h5 class="section-title">Databases</h5>
    <div class="skillset">
    <div class="item">
        <h3 class="level-title">MySQL</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">PostgreSQL</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="75%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">SQLite</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="60%">
            </div>                                      
        </div><!--//level-bar-->                                 
    </div><!--//item-->
  </div>  
  </section><!--//skills-section-->

